  <div class="title"><p>投稿編集画面</p></div>
    <%= form_for(@post) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>
    <div class="edit_detail">

      <%= f.label :名前 %>
      <%= f.text_field :store_name, class: 'form-control' %>

      <%= f.label :住所 %>
      <%= f.text_field :address, class: 'form-control' %>

      <%= f.label :カフェの画像 %>
      <%= f.file_field :image, class: 'form-control' %>

<div class="store_time">
      <%= f.label :営業時間 %>
      <%= f.time_field :time_start, class: 'form-control' %>
      <%= f.hidden_field :time_start %>
      <%= f.label :"〜" %>
      <%= f.time_field :time_end, class: 'form-control' %>
      <%= f.hidden_field :time_end %>
</div>

<%= render 'shared/environment' %>

<%= render 'shared/evaluation' %>
      <%= f.submit "変更する", class: "btn btn-primary" %>
</div>
</div>

<% end %>